body {
    width: 600px;
    margin: 0 auto;
    padding-top: 50px;
    font-family: 'Roboto Slab', serif;
}

#main {
    border:2px solid #7e7e7e;
    border-radius:10px;
    padding: 10px;
}
